# Usuário utilizado dentro dos containers Docker
DOCKER_USER=motoflow

# UID (User ID) do usuário no sistema operacional host
# Para obter: `id -u`
DOCKER_UID=1000

# GID (Group ID) do grupo principal do usuário no sistema operacional host
# Para obter: `id -g`
DOCKER_GID=1000